.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  form{
    width: 50%;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    div{
      width: 90%;
    }
  }

}

.display-image{
 
    width: 14%;
    margin-right: 5px;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .main-container{
    // border: 1px solid blue;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    // border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .sidebar{

      background-color: #00718b;
      flex: 1;
      height: 100%;

      .navbar{
        background-color: lightseagreen;
      }

    }

    .chat-box{
      flex: 2;
      height: 100%;

    }
  }
}

.navbar{

  display: flex;
  justify-content: end;
  align-items: center;
  height: 15%;
  position: relative;

  button{
    margin-right: 1em;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2c458d;
    color: #bbf7e4;
    font-weight: bold;

  }

  span{
    margin-right: 1em;
  }
  


  .logo{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    position: absolute;
    left: 0;
    margin-left: 5px;
  }

  .user{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

  }
}


.search{

  width: 100%;
  height: 10%;

  .search-input{

    height: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: #8ccfe3;

  }

  .chat-info{

    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;
    width: 100%;
    padding: 5px;
    cursor: pointer;

    &:hover{
      background-color: #276264e3;
    }

    .chat-image{

      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;

      img{

        object-fit: cover;
        height: 100%;
        width: 100%;
  
      }
  
    }
  
    .chat-details{

      margin-left: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 80%;

  
      span{

      font-weight: bold;
      color: white;
  
      }
  
      p{

      font-weight: bold;
      color: white;
      margin-bottom: 0;
  
      }
  
    }

  }

}

.chats{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 65%;

  .chat-info{

    display: flex;
    align-items: center;
    justify-content: start;
    height: 60px;
    width: 100%;
    padding: 5px;
    cursor: pointer;

    &:hover{
      background-color: #276264e3;
    }

    .chat-image{

      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;

      img{

        object-fit: cover;
        height: 100%;
        width: 100%;
  
      }
  
    }
  
    .chat-details{

      margin-left: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 80%;

  
      span{

      font-weight: bold;
      color: white;
  
      }
  
      p{

      font-weight: bold;
      color: white;
      margin-bottom: 0;
  
      }
  
    }

  }

}


.chat-box-header{

  display: flex;
  justify-content: start;
  align-items: center;
  height: 15%;
  position: relative;
  background-color: #447c9d;

  span{

  }
}


.messages{

  height: 75%;
  overflow-y: scroll;


  .message{

  }
}

.chat-input-box{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;


  .chat-input{

    // width: 85%;
    padding: 8px;
    border: none;
    outline: none;
    flex: 12;
    margin-left: 5px;
    border-radius: 5px;

  }

  label{
    flex: 1;
  }

  .inputfile{
  }

  .send-button{
    flex: 1;
    margin-right: 1em;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2c458d;
    color: #bbf7e4;
    font-weight: bold;

  }



  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.message{

  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 0.5rem;
  margin-top: 0.5em;

  .message-info{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    img{

      object-fit: cover;
      height: 50px;
      width: 50px;

    }
  }

  .message-content{

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;

    p{
      background-color: white;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 0;

    }

  }
}




